.header-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

.header-content {
    display: flex;
    width: 100%;
    min-height: calc(100% - 50px);
}

.header-content-01 {
    width: 30%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: rotate(-1deg);
    order: 1;
}

.tech-imgs {
    width: 275px;
    border-radius: 5px;
}

.header-content-02 {
    width: 70%;
    min-height: 450px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    order: 2;
}

.header-content-02 > h1, .header-content-02 > h2 {
    background: rgba(0, 0, 0, 0.5);
}

.author-container {
    height: 275px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: black;
    box-shadow: 6px 7px 14px -6px rgba(255,255,255,0.1);
}

.author-info div:first-child {
    font-size: 1.5rem;
    padding: 2px 3px;
    border-radius: 3px;
}

.author-info {
    width: 40%;
}

.author-img>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 3px;
}

.author-img>img {
    width: 170px;
    height: 170px;
    border-radius: 7px;
}

.brazilian-flag {
    width: 30px;
}

.header-social {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-social img {
    border-radius: 3px;
    width: 40px;
    margin: 10px;
}