.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-list {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

@media screen and (max-width: 720px) {
    .nav-items {
        display: none;
    }
}